
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% for instance in object_list %}
<p>{{ instance.id }} - <a   href="{% url 'infra:detalhes_processos' instance.id %}"> {{ instance.origem_processo }} {{ instance.tipo_processo }}</a></p>
<a  href="{% url 'infra:inserir_documento' instance.id %}">Inserir Documento</a>
<a  href="{% url 'infra:editar_processo' instance.id %}">Editar</a>
<a  href="{% url 'infra:lista_documentos' instance.id %}">Ver Todos os documentos do processo</a>
{% endfor %}