<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Essa página será comum a todos</title>
    <link   rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

    .principal {
      height: 385px;
      width: 860px;

      margin:auto;
      margin-top:15px;
      border-style: solid;
      border-width: 1px;
      background-color: white;
    }


    </style>
</head>
<body     style="background-color: #f8f8f8">
<div    class="principal">
    {% block content %}{% endblock %}
</div>
</body>
</html>