<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #dv1{
            width: 100px;
            height: 100px;
            border: 1px solid #000;
            background-color: blue;
            position: absolute;
            left:0px;
            top:0px;
            color: white;
            font-size: 30pt;
            
            
        }
        #cont{
            position: relative;
            text-align:center;
            margin-top: 230pt;
            font-size: 60pt;

        }
    </style>
</head>
<body>
    <input  id="bt1" type="button" value="Iniciar/Parar"      onclick="parar">
    
    <div    id="dv1">
        
    </div>
    <div    id="cont">
       Contando 0 voltas
        
    </div>
    <script>
        var jog;
        var vel;
        var dx
        var dy
        var px
        var py
        var anima
        var cont
        var cont1 = 0
        var ang = 0

        function inicia(){
            vel = 15
            dx = 1 //Defini como 1 porque quero começar a velocidade para a direita
            dy = 0
            px = 0
            py = 0
            var controle = true
            jog = document.getElementById("dv1")
            cont = document.getElementById("cont")
            game()
            
        }
        function game(){
            px += dx*vel
            
            jog.style.left = px+"px"
            jog.style.top = py+"px"
            if (px <=0 && py <=0 ){
                dx = 1
                jog.style.backgroundColor = "blue"
                cont1 = cont1 + 1
                cont.innerHTML = ` Contando ${cont1} voltas`               
            }
            else if (px>=1400 && py < 650){
                dx = 0
                dy = 1
                py += dy*vel
                jog.style.backgroundColor = "green"
            }
            
            else if (py > 650 && px >= 1400){
                dy = 0
                dx = -1
                jog.style.backgroundColor = "yellow"
            }
            else if (px <= 0 && py >= 0){
                dy = -1
                dx = 0
                py += dy*vel
                jog.style.backgroundColor = "grey"
            }
            gira()
            anima = requestAnimationFrame(game)
        }
        
        function parar(){
            if (controle == true){
                controle = false
                jog.style.backgroundColor = "#f00"
                cancelAnimationFrame(anima)
                
            }
            else if (controle == false){
                jog.style.backgroundColor = "blue"
                controle = true
                game()

            }
        }
        function gira(){
            jog.style.transform = `rotate(${ang}deg)`
            ang = ang + 5
            if (ang>360){
                ang = 0
            }

        }
       
        window.addEventListener("load", inicia)
        window.addEventListener("click", function(){
            if (controle == true){
                jog.style.backgroundColor = "#f00"
                cancelAnimationFrame(anima)
                controle = false
            }
            else if (controle == false){
                controle = true
                jog.style.backgroundColor = "blue"
                game()

            }
        })





    </script>
</body>
</html>