{% extends 'base_painel.html' %}
{% load static %}
{% block content %}

<div  class="container">
    <div class="row" style="">
        <a href="{% url 'paginas:painel' %}" style="color:#0A747C; margin-top:3px;">
             <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" style="margin-top:4px;" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
            <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
            </svg>

        </a>
        <h5 class="titulos" >Recursos Humanos</h5>
    </div>
  <div class="row align-items-start">
    <div  class="col" style="padding:0;">
        <dl>
            <dd>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color:#565656;" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
                <a href="#" class="link-titulos" style="font-family:arial;">Administração de pessoal</a>
            </dd>
            <dd>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color:#565656;" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
                <a href="#" class="link-titulos" style="font-family:arial;">Desenvolvimento de Rh</a>
            </dd>
            <dd>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color:#565656;" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
                <a href="#" class="link-titulos" style="font-family:arial;">Atendimento ao servidor</a>
            </dd>
            <dd>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color:#565656;" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
                <a href="#" class="link-titulos" style="font-family:arial;">Lotação pessoal</a>
            </dd>

        </dl>


<!-- SEGUNDA COLUNA! -->



    </div>
    <div class="col" >
      <dl>
            <dd>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color:#565656;" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
                <a href="#" class="link-titulos" style="font-family:arial;">Cadastro</a>
            </dd>
            <dd>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color:#565656;" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
                <a href="#" class="link-titulos" style="font-family:arial;">Auxílio </a>
            </dd>
            <dd>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color:#565656;" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
                <a href="#" class="link-titulos" style="font-family:arial;">Financeiro</a>
            </dd>
            <dd>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color:#565656;" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
                <a href="#" class="link-titulos" style="font-family:arial;">Avaliação de desempenho</a>
            </dd>

        </dl>
    </div>
  </div>
<!-- SEGUNDA COLUNA! -->


</div>

{% endblock %}