{% extends 'base_painel.html' %}
{% load static %}
{% block content %}
<div  class="container">
  <div class="row align-items-start">
    <div  class="col" style="padding:0;">
        <dl>
           <dt> <h5 class="titulos">Processos</h5></dt>
            <dd><a href="#" class="link-titulos" style="font-family:arial;">Cadastrar processo</a> </dd>
            <dd><a href="#" class="link-titulos" style="font-family:arial;">Adicionar documentos</a> </dd>
            <dd><a href="#" class="link-titulos" style="font-family:arial;">Alterar Processo</a> </dd>
            <dd><a href="#" class="link-titulos" style="font-family:arial;">Autuar processo</a> </dd>
            <dd><a href="#" class="link-titulos" style="font-family:arial;">Alterar responsável</a> </dd>
        </dl>


    </div>
    <div class="col">
      <dl>
           <dt> <h5 class="titulos">Movimentação</h5></dt>
            <dd><a href="#" class="link-titulos" style="font-family:arial;">Registrar Recebimento</a> </dd>
            <dd><a href="#" class="link-titulos" style="font-family:arial;">Registrar Envio</a> </dd>
            <dd><a href="#" class="link-titulos" style="font-family:arial;">Alterar encaminhamento</a> </dd>
            <dd><a href="#" class="link-titulos" style="font-family:arial;">Cancelar Encaminhamento</a> </dd>
            <dd><a href="#" class="link-titulos" style="font-family:arial;">Ferramenta para recebimento </a> </dd>
        </dl>
    </div>
  </div>

</div>
{% endblock %}