{% load static %}
<style>
    body {
  font-family: "Lato", sans-serif;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 350px;
  width: 250px;
  float: left;
  background-color: #eee8d0;
  padding-top: 20px;
  margin: 15px;
  border-radius: 10px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #a08a5c;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  display:inline-block;
}

/* Add an active class to the active dropdown button */
.active {
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.imagens {


  margin: 2px 60% 14px 10%;
  width:25px;
  display:block;
}
a {
  margin-left:20px;
}
</style>

<div class="sidenav">
  <div  style="float:left">
    <img class="imagens" style="margin-top:3px" src="{% static  'images/home.png' %}">
    <img class="imagens" src="{% static  'images/contratos.png' %}">
    <img class="imagens" src="{% static  'images/licitacoes.png' %}">
    <img class="imagens" src="{% static  'images/convenios.png' %}">
    <img class="imagens" src="{% static  'images/compras.png' %}">
    <img class="imagens" src="{% static  'images/funcionario.png' %}">
    <img class="imagens" src="{% static  'images/contato.png' %}">
  </div>
  <div>
  <a href="#about">Página Inicial</a>
  <a href="#services">Contratos</a>
  <a href="#clients">Licitações</a>
  <a href="#contact">Compras</a>
  <a href="#contact">Convênios</a>
  <a href="#contact">Área do Funcionário</a>
  <a href="#contact">Contato</a>
  </div>
</div >
<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}
</script>