{% load static %}
<head>
    <meta charset="UTF-8">
    <link   rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
     <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
    <meta   name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Painel do usuário</title>
</head>
<style>
    .grande{
        background-color:#f0eee9;
        margin-left:14%;
        width:72%;
        height:700px;

    }

    .principal{
        height:45px;
        margin-left:3%;
        width:94%;
        background-color:blue;
    }
    .secundario{
        height:120px;
        background-color:#aac6e3;
        margin-left:3%;
        width:94%;
    }

</style>
<div    class="grande container">
    <div    class="principal container">
        <h4 style="font-size:25px;margin-left:5%;">IFMA - INSTITUTO FEDERAL DO MARANHÃO</h4>
    </div>
    <div    class="secundario">
        <div    style="display:inline-block; float:left;">
            <h5>ANDRÈ FELIPPE MENDES SILVA</h5>
            <h5>ALALALALALALALALALAALALALALALALLL</h5>
        </div>
        <div  style="display:inline-block; float:right; margin-right:1%;margin-top:4%;">
            <div    style="float:left">
                <p style="display:inline-block;margin-right:50px;">aijasidajijda<p>
            </div>
            <div    style="float:right">
                <p style="display:inline-block;">MATHEUS BASTOS</p>
            </div>
        </div>
    </div>
</div>